%h1 List of Sponsors
%a{ href: "#{new_sponsor_path}" } Add new sponsor
%br
%br

.sponsor-list
  - @sponsors.each do |sponsor|
    .sponsor-card
      %a{ href: "#{sponsor_path sponsor}" }
        %img{ src: "#{sponsor.photo.url :medium}", width: "200", height: '200' }
      %br
      %p
        %a.sponsor-name{ href: "#{sponsor_path sponsor}" }= sponsor.name
