// Place all the styles related to the speakers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.speaker-card {
  width: 200px;
  display: block;
  margin: 5px;
}

.wait-overlay {
  display: none;
}
